/* PRINCIPAL */
.fotosPrincipales {
    grid-area: fotosPrincipales;
    background-color: black;
    margin-top: 10px;
    text-align: center;
}

.fotosPrincipales .foto1 {
    padding: 10px;
    width: 40%;
    border: 3px solid white;
    background-color: #00315A;
    margin: 10px;
}

.fotosPrincipales .foto2 {
    padding: 10px;
    width: 40%;
    border: 3px solid white;
    background-color: #00315A;
    margin: 10px;
}

.fotosPrincipales .foto3 {
    padding: 10px;
    width: 40%;
    border: 3px solid white;
    background-color: #00315A;
    margin: 10px;
}

.fotosPrincipales .foto4 {
    padding: 10px;
    width: 40%;
    border: 3px solid white;
    background-color: #00315A;
    margin: 10px;
}
