/* INICIO PAGINA TIENDA ------------------------------------------------------------------------------- INICIO PAGINA TIENDA */

.sectionTienda1 {
    margin-top: 10px;
    padding: 10px;

    img {
        margin: 10px;
        display: inline-block;
    }

    table {
        background-color: white;
        margin: 10px;
        display: inline-block;
    }

    h2 {
        margin: 20px;
        color: #FFFFFF;
        font-size: 30px;
        display: inline-block;
    }
}

/* SECTION 2 */
.sectionTienda2 {
    margin-top: 10px;
    padding: 10px;

    img {
        margin: 10px;
        display: inline-block;
    }

    table {
        background-color: white;
        margin: 10px;
        display: inline-block;
    }

    h2 {
        margin: 20px;
        color: #FFFFFF;
        font-size: 30px;
        display: inline-block;
    }
}

/* SECTION 3 */
.sectionTienda3 {
    margin-top: 10px;
    padding: 10px;

    img {
        margin: 10px;
        display: inline-block;
    }

    table {
        background-color: white;
        margin: 10px;
        display: inline-block;
    }

    h2 {
        margin: 20px;
        color: #FFFFFF;
        font-size: 30px;
        display: inline-block;
    }
}

.publicidadNikon {
    margin-top: 10px;
}

/* FIN PAGINA TIENDA ------------------------------------------------------------------------------- FIN PAGINA TIENDA */