:root {
  --color1: #FD790A;
  --color2: #FFFFFF;
  --color3: #00315A;
  --color4: #FCA500;
  --color5: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFIA */
* {
  font-family: OpenSans;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
/* BODY ------------------------------------------------------------------------------- BODY */
.fondoGeneral {
  background-color: #000000;
}

/* INICIO GRILLA ------------------------------------------------------------------------------- INICIO GRILLA */
#grilla {
  display: grid;
  grid-template-areas: "header header" "navbar navbar" "fotosPrincipales fotosPrincipales" "publicidadNikon publicidadNikon" "masFotos masFotos" "pieDePagina pieDePagina";
  grid-template-columns: repeat(2fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin: 0;
}

/* FIN GRILLA ------------------------------------------------------------------------------- FIN GRILLA */
/* CABECERA */
.header {
  grid-area: header;
  height: 150px;
  width: 100%;
  background-color: #00315A;
  background-image: linear-gradient(to right, #00315A, #FD790A);
  padding: 30px;
}
.header .headerLogo {
  width: 90px;
  height: 90px;
  float: left;
  /* border: 5px solid black; */
}
.header h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 80px;
  float: right;
}

/* MENU DE NAVEGACION */
/* .menu{
    grid-area: menu;
    background-color: #FD790A;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.menu li{
    display: inline-block;
    text-transform: uppercase;
    width: 15%;
    font-size: 25px;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    color: #00315A;
    text-decoration: underline;
} */
/* FIN MENU DE NAVEGACION */
/* INICIO MENU DE NAVEGACION BOOTSTRAP*/
.navbar {
  grid-area: navbar;
  background-color: #00315A !important;
  color: #FFFFFF;
}
.navbar .navbar-brand {
  color: #00315A !important;
  text-transform: uppercase;
  font-weight: bolder;
}
.navbar .navbar-brand:hover {
  color: #FFFFFF !important;
}
.navbar .collapse {
  background-color: #00315A;
}
.navbar .nav-link {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  color: #FFFFFF !important;
}
.navbar .nav-link:hover {
  background-color: #00315A;
  color: #FCA500 !important;
}
.navbar .navbar-toggler {
  background-color: #FD790A;
}
.navbar .dropdown-menu {
  background-color: #00315A;
}
.navbar .dropdown-menu .dropdown-item {
  color: #FFFFFF;
  font-weight: bolder;
  text-transform: uppercase;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #FCA500;
}

/* FIN DE MENU DE NAVEGACION BOOTSTRAP*/
/* PRINCIPAL */
.fotosPrincipales {
  grid-area: fotosPrincipales;
  background-color: #000000;
  margin-top: 10px;
  text-align: center;
}
.fotosPrincipales .foto1 {
  padding: 10px;
  width: 40%;
  margin: 10px;
}
.fotosPrincipales .foto1:hover {
  border: 3px solid #00315A;
  background-color: #00315A;
}
.fotosPrincipales .foto2 {
  padding: 10px;
  width: 40%;
  margin: 10px;
}
.fotosPrincipales .foto2:hover {
  border: 3px solid #00315A;
  background-color: #00315A;
}
.fotosPrincipales .foto3 {
  padding: 10px;
  width: 40%;
  margin: 10px;
}
.fotosPrincipales .foto3:hover {
  border: 3px solid #00315A;
  background-color: #00315A;
}
.fotosPrincipales .foto4 {
  padding: 10px;
  width: 40%;
  margin: 10px;
}
.fotosPrincipales .foto4:hover {
  border: 3px solid #00315A;
  background-color: #00315A;
}

/* PRINCIPAL DOS */
.masFotos {
  grid-area: masFotos;
  justify-self: center;
  text-align: center;
  align-self: center;
  color: #FFFFFF;
  width: 50%;
  background-color: #00315A;
  border: 3px solid #FFE100;
  padding: 20px;
  margin-bottom: 10px;
}
.masFotos h1 {
  color: #FFE100;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 40px;
  text-shadow: 0 0 10px #000000;
}
.masFotos p {
  margin-bottom: 30px;
}
.masFotos #nikonBoton {
  border: none;
  padding: 10px;
  background-color: #FFE100;
  color: black;
  border-radius: 2px;
  border-bottom: 3px solid #000000;
  cursor: grab;
  transition: all 0.5s ease-out;
  margin-top: 5px;
  margin-bottom: 20px;
}
.masFotos #nikonBoton:hover {
  padding: 15px;
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 3px solid #FFE100;
}

/* .masFotos a {
    background-color: #FD790A;
    color: #00315A;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.masFotos a:hover {
    background-color: #FFFFFF;

} */
/* PUBLICIDAD */
.publicidadNikon {
  grid-area: publicidadNikon;
  text-align: center;
}
.publicidadNikon .videoNikon {
  margin: 10px;
  border: 10px solid #FFE100;
}
.publicidadNikon .videoNikon:hover {
  border: 5px solid #FFE100;
}

/* PIE DE PAGINA */
.pieDePagina {
  grid-area: pieDePagina;
  background-color: #00315A;
  margin-top: 10px;
  /* text-align: center; */
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pieDePagina .pieDePaginaDerechos {
  color: var(--color2);
  margin-bottom: 10px;
  margin: 0 auto;
}

.redesSociales {
  font-size: 30px;
  letter-spacing: 3px;
}
.redesSociales i {
  color: #FD790A;
}

/* ICONO WHATSAPP */
.icono i {
  height: 50px;
  width: 50px;
  background-color: green;
  color: #FFFFFF;
  position: fixed;
  right: 40px;
  bottom: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 10px green;
}

/* INICIO PAGINA FOTOS ------------------------------------------------------------------------------- INICIO PAGINA FOTOS */
#grilla1 {
  display: grid;
  grid-template-areas: "header header" "navbar navbar" "fotos fotos" "publicidadNikon1 publicidadNikon1" "pieDePagina pieDePagina";
  grid-template-columns: repeat(2fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin: 0;
}

.fotos {
  grid-area: fotos;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.fotos1 {
  width: 800px;
  width: 600px;
  overflow: hidden;
  margin: 10px;
}
.fotos1 .primeraFoto {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.fotos1 .primeraFoto:hover {
  transform: scale(1.2);
}

.textoFoto1 {
  color: #FFFFFF;
}
.textoFoto1 span {
  color: rgba(255, 255, 255, 0.3647058824);
}

.fotos2 {
  width: 800px;
  width: 600px;
  overflow: hidden;
  margin: 10px;
}
.fotos2 .segundaFoto {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.fotos2 .segundaFoto:hover {
  transform: scale(1.2);
}

.fotos3 {
  width: 800px;
  width: 600px;
  overflow: hidden;
  margin: 10px;
}
.fotos3 .tercerFoto {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.fotos3 .tercerFoto:hover {
  transform: scale(1.2);
}

.fotos4 {
  width: 800px;
  width: 600px;
  overflow: hidden;
  margin: 10px;
}
.fotos4 .cuartaFoto {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.fotos4 .cuartaFoto:hover {
  transform: scale(1.2);
}

.publicidadNikon1 {
  grid-area: publicidadNikon1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.publicidadNikon1 .videoNikon {
  margin: 10px;
  border: 10px solid #FFE100;
}
.publicidadNikon1 .videoNikon:hover {
  border: 5px solid #FFE100;
}

/* FIN PAGINA FOTOS ------------------------------------------------------------------------------- FIN PAGINA FOTOS */
/* INICIO MEDIAS QUERIES FOTOS ------------------------------------------------------------------------------- INICIO MEDIAS QUERIES FOTOS */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #grilla1 {
    grid-template-areas: "header" "navbar" "fotos" "publicidadNikon1" "pieDePagina";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .fotos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
/* FIN MEDIAS QUERIES FOTOS ------------------------------------------------------------------------------- FIN MEDIAS QUERIES FOTOS */
/* INICIO PAGINA TIENDA ------------------------------------------------------------------------------- INICIO PAGINA TIENDA */
.sectionTienda1 {
  margin-top: 10px;
  padding: 10px;
}
.sectionTienda1 img {
  margin: 10px;
  display: inline-block;
}
.sectionTienda1 table {
  background-color: white;
  margin: 10px;
  display: inline-block;
}
.sectionTienda1 h2 {
  margin: 20px;
  color: #FFFFFF;
  font-size: 30px;
  display: inline-block;
}

/* SECTION 2 */
.sectionTienda2 {
  margin-top: 10px;
  padding: 10px;
}
.sectionTienda2 img {
  margin: 10px;
  display: inline-block;
}
.sectionTienda2 table {
  background-color: white;
  margin: 10px;
  display: inline-block;
}
.sectionTienda2 h2 {
  margin: 20px;
  color: #FFFFFF;
  font-size: 30px;
  display: inline-block;
}

/* SECTION 3 */
.sectionTienda3 {
  margin-top: 10px;
  padding: 10px;
}
.sectionTienda3 img {
  margin: 10px;
  display: inline-block;
}
.sectionTienda3 table {
  background-color: white;
  margin: 10px;
  display: inline-block;
}
.sectionTienda3 h2 {
  margin: 20px;
  color: #FFFFFF;
  font-size: 30px;
  display: inline-block;
}

.publicidadNikon {
  margin-top: 10px;
}

/* FIN PAGINA TIENDA ------------------------------------------------------------------------------- FIN PAGINA TIENDA */
/* INICIO PAGINA SOBRE MI ------------------------------------------------------------------------------- INICIO PAGINA SOBRE MI */
.descripcion {
  color: #FFFFFF;
  border: 5px solid #00315A;
  display: inline-block;
  margin: 10px;
}

.principalSobreMi {
  border: 5px solid #00315A;
  display: inline-block;
  margin: 10px;
}

/* FIN PAGINA SOBRE MI ------------------------------------------------------------------------------- FIN PAGINA SOBRE MI */
/* INICIO PAGINA CONTACTO ------------------------------------------------------------------------------- INICIO PAGINA CONTACTO */
/* INICIO GRILLA ------------------------------------------------------------------------------- INICIO GRILLA */
#grilla5 {
  display: grid;
  grid-template-areas: "header header" "navbar navbar" "principalContacto1 principalContacto2" "principalContacto3 principalContacto3" "pieDePagina pieDePagina";
  grid-template-columns: repeat(2fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin: 0;
}

/* FIN GRILLA ------------------------------------------------------------------------------- FIN GRILLA */
.principalContacto1 {
  grid-area: principalContacto1;
  color: #FFFFFF;
  border: 5px solid #00315A;
  background-color: #FD790A;
  margin: 10px;
  padding: 10px;
}
.principalContacto1 li {
  list-style-type: none;
}
.principalContacto1 h1 {
  text-align: center;
}

.principalContacto2 {
  grid-area: principalContacto2;
  color: #FFFFFF;
  border: 5px solid #00315A;
  background-color: #FD790A;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.principalContacto3 {
  grid-area: principalContacto3;
  color: #FFFFFF;
  border: 5px solid #00315A;
  background-color: #FD790A;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/* FIN PAGINA CONTACTO ------------------------------------------------------------------------------- FIN PAGINA CONTACTO */
/* INICIO MEDIAS QUERIES INDEX ------------------------------------------------------------------------------- INICIO MEDIAS QUERIES INDEX */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #grilla5 {
    grid-template-areas: "header" "navbar" "principalContacto1" "principalContacto2" "principalContacto3" "pieDePagina";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
/* FIN MEDIAS QUERIES INDEX ------------------------------------------------------------------------------- FIN MEDIAS QUERIES INDEX */
/* INICIO MEDIAS QUERIES INDEX ------------------------------------------------------------------------------- INICIO MEDIAS QUERIES INDEX */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #grilla {
    grid-template-areas: "header" "navbar" "fotosPrincipales" "publicidadNikon" "masFotos" "pieDePagina";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .fondoGeneral {
    background-color: var(--color5);
  }
  /* CABECERA */
  .header {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerLogo {
    width: 150px;
    height: 150px;
  }
  .header h1 {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
  }
  /* MENU DE NAVEGACION */
  /* .menu li {
      font-size: 12px;
      font-weight: bolder;
      padding: 0;
  }

  .menu li a {
      color: var(--color3);
  }

  .menu li a:hover {
      color: var(--color2);
      text-decoration: underline;
  } */
  /* PRINCIPAL */
  .fotosPrincipales {
    background-color: #000000;
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fotosPrincipales .foto1 {
    padding: 10px;
    width: 300px;
  }
  .fotosPrincipales .foto1:hover {
    border: 3px solid #FD790A;
    background-color: #FD790A;
  }
  .fotosPrincipales .foto2 {
    padding: 10px;
    width: 300px;
  }
  .fotosPrincipales .foto2:hover {
    border: 3px solid #FD790A;
    background-color: #FD790A;
  }
  .fotosPrincipales .foto3 {
    padding: 10px;
    width: 300px;
  }
  .fotosPrincipales .foto3:hover {
    border: 3px solid #FD790A;
    background-color: #FD790A;
  }
  .fotosPrincipales .foto4 {
    padding: 10px;
    width: 300px;
  }
  .fotosPrincipales .foto4:hover {
    border: 3px solid #FD790A;
    background-color: #FD790A;
  }
  /* PRINCIPAL DOS */
  .masFotos {
    width: 100%;
    border: 0px;
    padding: 20px;
    margin: 0px;
    text-align: center;
  }
  .masFotos h1 {
    font-size: 45px;
  }
  /* PUBLICIDAD */
  .videoNikon {
    margin: 20px;
    width: 300px;
    height: 200px;
  }
  .paginaNikon {
    margin-bottom: 10px;
  }
  #nikonBoton {
    margin-bottom: 20px;
  }
  /* PIE DE PAGINA */
  .pieDePagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 20px;
  }
  .pieDePaginaDerechos {
    text-align: center;
    font-size: 20px;
  }
  .redesSociales {
    font-size: 40px;
    margin-top: 10px;
  }
  /* ICONO WHATSAPP */
  .icono i {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* CABECERA */
  .header {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerLogo {
    width: 150px;
    height: 150px;
  }
  .header h1 {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /* CABECERA */
  .header {
    height: 150px;
    width: 100%;
    align-items: center;
  }
  .headerLogo {
    width: 90px;
    height: 90px;
  }
  .header h1 {
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
  }
}
/* FIN MEDIAS QUERIES INDEX ------------------------------------------------------------------------------- FIN MEDIAS QUERIES INDEX */

/*# sourceMappingURL=estilos.css.map */
