/* INICIO PAGINA SOBRE MI ------------------------------------------------------------------------------- INICIO PAGINA SOBRE MI */

.descripcion {
    color: #FFFFFF;
    border: 5px solid #00315A;
    display: inline-block;
    margin: 10px;
}

.principalSobreMi {
    border: 5px solid #00315A;
    display: inline-block;
    margin: 10px;
}

/* FIN PAGINA SOBRE MI ------------------------------------------------------------------------------- FIN PAGINA SOBRE MI */