/* PUBLICIDAD */
.publicidadNikon {
    grid-area: publicidadNikon;
    text-align: center;

    .videoNikon {
        margin: 10px;
        border: 10px solid #FFE100;

        &:hover {
            border: 5px solid #FFE100;
        }
    }
}

