/* PRINCIPAL */
.fotosPrincipales {
    grid-area: fotosPrincipales;
    background-color: #000000;
    margin-top: 10px;
    text-align: center;

    .foto1 {
        padding: 10px;
        width: 40%;
        margin: 10px;

        &:hover {
            border: 3px solid #00315A;
            background-color: #00315A;
        }
    }

    .foto2 {
        padding: 10px;
        width: 40%;
        margin: 10px;

        &:hover {
            border: 3px solid #00315A;
            background-color: #00315A;
        }
    }

    .foto3 {
        padding: 10px;
        width: 40%;
        margin: 10px;

        &:hover {
            border: 3px solid #00315A;
            background-color: #00315A;
        }
    }

    .foto4 {
        padding: 10px;
        width: 40%;
        margin: 10px;

        &:hover {
            border: 3px solid #00315A;
            background-color: #00315A;
        }
    }
}